body {
background-image: url(kepek/overworld/dirt.png);
}
.overworld_nav {
    display: grid;
    grid-area: nav;
    background-color: rgb(14, 172, 27);
    grid-template-columns: 1fr;
    margin: 10px;
}
.overworld_nav ul{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr; 
}
.active {
    background-color: rgb(6, 100, 14);
}
header {
    grid-area: hd;
}
header img {
    width: 100%;
}
footer {
    grid-area: f;
}
article {
    background-image: url(kepek/bright_stone.png);
    grid-area: ar;
    margin: 10px;
}
aside {
    background-image: url(kepek/bright_stone.png);
    margin: 10px;
    grid-area: as;
}
main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
    "hd hd hd" 
    "as nav nav"
    "as ar ar"
    "f f f";
}